* {
    padding: 0;
    margin: 0;
    border: 0;
}

@keyframes underlayColor {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 1000% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes rotateUnderlayColor {
    from {
        transform: translate(-50%) rotate(0deg);
        background-position: 0% 0%;
    }

    to {
        transform: translate(-50%) rotate(360deg);
        background-position: 300% 0%;
    }
}

body {
    background-color: black;
    background-color: #151515;
    overflow: hidden;
}

.headerDiv {
    z-index: 200;
}

.header {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100px;
    background-color: black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.Logo {
    position: absolute;
    top: -3vh;
    height: 8vw;
    left: 10px;
    z-index: 50;
}

.navunderlay {
    position: absolute;
    top: 0;
    height: 115px;
    width: 100vw;
    background: linear-gradient(-90deg, #F3B700, #F18701, #DF2935, #961f01, #DF2935, #F18701, #F3B700);
    background-size: 500% 100%;
    animation: underlayColor 250s ease-in-out 0s infinite;
}

.content {
    position: absolute;
    top: 130px;
    width: 98vw;
    height: 80vh;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}

.content::before {
    content: '';
    left: 50%;
    top: -100vh;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 20vw;
    height: 300vh;
    background: linear-gradient(-90deg, #F3B700, #F18701, #DF2935, #961f01, #DF2935, #F18701, #F3B700);
    background-size: 300% 100%;
    animation: rotateUnderlayColor 10s 0s infinite;
}

.content::after {
    content: '';
    position: absolute;
    background-color: #151515;
    inset: 10px;
    border-radius: 10px;
}

.survey {
    position: absolute;
    width: 48vw;
    height: 75vh;
    z-index: 10;
    background-color: black;
    margin-top: 20px;
    margin-left:20px;
    border-radius: 10px;
    transition: all 0.1s;
}
.results {
    position: absolute;
    right: 0%;
    width: 40vw;
    height: 75vh;
    z-index: 10;
    background-color: black;
    margin-top: 20px;
    margin-right:20px;
    border-radius: 10px;
    transition: all 0.1s;
}

.hover:hover {
    border: white 5px solid;
    border-radius: 10px;
}